.list-item {
  border: 1px solid gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.row-container {
  display: flex;
  justify-content: space-around;
  color: #475569;
}

.timeAccessed {
  font-weight: 400;
  padding: 10px;
}
.image {
  height: 24px;
  width: 25px;
  margin: 22px;
}
.delete {
  width: 23px;
}

.title {
  font-weight: 500;
  margin: auto;
}
.domain {
  margin: 25px;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 12px;
  cursor: pointer;
}
